<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.feedhenry.brian.dooley.bd_mysqltest" version="" width="320" height="480" start="index.html">
<title>bd_MySqlTest</title>
<description></description>
<author name="" email="brian.dooley@feedhenry.com" url=""></author>
<license></license>
</widget>
